FOUNDER_LENS_ANALYZE_FLOW_ID="YOUR_ANALYZE_FLOW_ID"
FOUNDER_LENS_CHAT_FLOW_ID="YOUR_CHAT_FLOW_ID"
LAMATIC_API_URL="YOUR_API_ENDPOINT"
LAMATIC_PROJECT_ID="YOUR_PROJECT_ID"
LAMATIC_API_KEY="YOUR_API_KEY"